body {
    background-color: lightblue;
    color: maroon;
    font-style: Arial;
    margin: 0px;
}

main {
    background-color: lightblue;
    color: black;
    font-style: Arial;
    margin: 0px;
    font-size: 18pt;
}

footer {
    background-color: black;
    color: white;
    font-style: italic;
    margin: 0px;
    padding: 25px;
    font-size: 24pt;
}

header {
    background-color: black;
    color: white;
    font-style: italic;
    margin: 0px;
    padding: 25px;
    font-size: 24pt;
}

a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: green;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: underline;
    text-decoration-style: double;
}
a:hover {
    color: maroon;
    text-decoration: underline;
    transition: 0.3s;
    }
a:active {
    color: grey;
    opacity: 0.3;
    }
