body {
    background-color: lightblue;
    color: maroon;
    font-style: Arial;
    margin: 0px;
}

main {
    /*background-color: lightblue;*/
    color: black;
    font-style: Arial;
    margin: 10px 20px 87px;
    font-size: 18pt;
}

footer {
    background-color: black;
    color: white;
    font-style: italic;
    text-align: right;
    margin: 0px;
    padding: 25px;
    font-size: 24pt;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: black;
    color: white;
    font-style: italic;
    margin: 0px;
    padding: 25px;
    font-size: 24pt;
}

a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: green;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: underline;
    text-decoration-style: double;
}
a:hover {
    color: maroon;
    text-decoration: underline;
    transition: 0.3s;
    }
a:active {
    color: grey;
    opacity: 0.3;
    }
div.menu {
    border: 1px solid #00098880;
    border-radius: 5px;
    width: 300px;
    margin: 10px auto;
}
div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}
h1.start {
    text-align: center;
    text-shadow: 10px -10px 5px rgba(0, 0, 0, 0.5);
}